* {
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@font-face {
  font-family: "Syne";
  src: url("/src/assets/fonts/Syne-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("/src/assets/fonts/Syne-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  src: url("/src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arizonia";
  src: url("/src/assets/fonts/Arizonia-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

#root {
  overflow-x: hidden;
}
.container {
  max-width: 1800px;
}
